<h1>Create new account</h1>

<form action="<%= users_url %>" method="post">
  Email: <input type="text" name="user[email]"> <br />
  Password: <input type="password" name="user[password]"> <br />

  <input type="submit" value="Sign up">
</form>
